<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>You need to be logged in...</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" href="<% Routes.static_path(@conn, "/favicon.ico") %>">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
        <h1 class="logo-header">Cassian</h1>
        <nav>
          <ul class="nav-links">
            <li><a class="underline-link" href="/">Home</a></li>
            <li><a class="underline-link" href="<%= Routes.commands_path(@conn, :index) %>">Commands</a></li>
            <li><a class="underline-link" href="https://github.com/zastrixarundell/cassian" target="_blank">Code</a></li>
          </ul>
        </nav>
        <%= render_shared "session_control_button.html", conn: @conn %>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="wave error"></div>
      <section>
        <h1>You need to be logged in to access this page.</h1>
      </section>
    </main>
  </body>
</html>
