<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Cassian - A Discord music bot written in Elixir</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" href="<% Routes.static_path(@conn, "/favicon.ico") %>">
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/spop.css") %>">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/spop.js") %>"></script>
  </head>
  <body>
    <header>
        <h1 class="logo-header">Cassian</h1>
        <nav>
          <ul class="nav-links">
            <li><a class="underline-link" href="/">Home</a></li>
            <li><a class="underline-link" href="<%= Routes.commands_path(@conn, :index) %>">Commands</a></li>
            <li><a class="underline-link" href="https://github.com/cassian-bot" target="_blank">Code</a></li>
          </ul>
        </nav>
        <%= render_shared "session_control_button.html", conn: @conn %>
        <%= render_shared "user_avatar.html", conn: @conn %>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <div class="wave rainbow"></div>
      <%= @inner_content %>
    </main>
  </body>
</html>
