<%
  commands = [
    %{name: "sudo", args: nil, placeholder: true},
    %{name: "bamboozle", args: nil},
    %{name: "shazam", args: nil},
  ]
%>

<%= render_many commands, CassianDashboardWeb.CommandsView, "_command.html", as: :command %>
