<%
  commands = [
    command!(name: "playlist", arg: "import", placeholder: "Spotify playlist URL"),
    command!(name: "playlist", arg: "play", placeholder: "Spotify playlist URL"),
    command!(name: "play", placeholder: "Spotify song URL")
  ]
%>

<%= render_many commands, CassianDashboardWeb.CommandsView, "_command.html", as: :command %>
