<%
  commands = [
    %{name: "playlist", arg: "import", placeholder: "playlist url"},
    %{name: "playlist", arg: "play", placeholder: "playlist url"},
    %{name: "play", placeholder: "song url"}
  ]
%>

<%= render_many commands, CassianDashboardWeb.CommandsView, "_command.html", as: :command %>
