<%= if (user = current_user(@conn)) do %>
    <img src="" uid="<%= user.discord_id %>" class="user-image-own" id="user_image_own" />
    <script src="<%= Routes.static_path(@conn, "/js/avatar.js") %>"></script>
<% end %>
